@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */

* {
    font-family: 'Outfit', sans-serif;
}

.prata-regular {
    font-family: 'Prata', serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Smooth fading for page transitions */
.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

/* Active class for NavLinks to show a small underline */
a.active hr {
    display: block;
}

/* Custom button hover effects */
button:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}

/* Style for the filter sidebar animation on mobile */
.filter-dropdown {
    transition: all 0.3s ease-in-out;
}